{{> head }}

    {{> navbar }}
    <div class="container">
    <div class="row">
      <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores minus illo a aliquam tenetur velit atque voluptates perspiciatis. Magni molestias ipsam omnis? Voluptas sequi molestiae porro aperiam expedita magnam est.</p>
      </div>
      <div class="col-4">
        <img src="assets/img/batman.png" class="img-thumbnail" alt="">
      </div>
    </div>
    </div>
{{> footer }}